body{
    background: darkcyan;
    font-size: 26px;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    text-align: center; 
}
a{
    text-decoration: none;
    color:black;
}

a:hover{
    color: blueviolet;
    text-decoration: underline;
}

header{
    display: flex;
    min-height: 70px;
    background-color: aqua;
    font-family: 'Dosis', sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nombre-pagina{
    margin-left: 15px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-left: 10px;

}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: white;
    text-decoration: underline;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}